In [1]:
import kaggle
kaggle.api.authenticate()
kaggle.api.dataset_download_files("vijayaadithyanvg/car-price-predictionused-cars",path=".")

ModuleNotFoundError: No module named 'kaggle'

In [8]:
!ls

'Car prediction .ipynb'		     employment.ipynb	      kaggle.json
 car-price-predictionused-cars.zip   iriscsv.zip	      Untitled.ipynb
 data				    'iris prediction.ipynb'

In [15]:
!unzip 'car-price-predictionused-cars.zip'

Archive:  car-price-predictionused-cars.zip
  inflating: car data.csv

In [16]:
!ls

'car data.csv'			     data	       'iris prediction.ipynb'
'Car prediction .ipynb'		     employment.ipynb   kaggle.json
 car-price-predictionused-cars.zip   iriscsv.zip        Untitled.ipynb

In [20]:
import pandas as pd
data=pd.read_csv('car data.csv')
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [24]:
x,y=data.drop(data.columns[2],axis=1),data.iloc[:,2]
print(x)

    Car_Name  Year  Present_Price  Driven_kms Fuel_Type Selling_type  \
0       ritz  2014           5.59       27000    Petrol       Dealer
1        sx4  2013           9.54       43000    Diesel       Dealer
2       ciaz  2017           9.85        6900    Petrol       Dealer
3    wagon r  2011           4.15        5200    Petrol       Dealer
4      swift  2014           6.87       42450    Diesel       Dealer
..       ...   ...            ...         ...       ...          ...
296     city  2016          11.60       33988    Diesel       Dealer
297     brio  2015           5.90       60000    Petrol       Dealer
298     city  2009          11.00       87934    Petrol       Dealer
299     city  2017          12.50        9000    Diesel       Dealer
300     brio  2016           5.90        5464    Petrol       Dealer

    Transmission  Owner
0         Manual      0
1         Manual      0
2         Manual      0
3         Manual      0
4         Manual      0
..           ...    ...
296       Manual      0
297       Manual      0
298       Manual      0
299       Manual      0
300       Manual      0

[301 rows x 8 columns]

In [39]:
x.columns

Index(['Car_Name', 'Year', 'Present_Price', 'Driven_kms', 'Fuel_Type',
       'Selling_type', 'Transmission', 'Owner'],
      dtype='object')

In [49]:
from sklearn.preprocessing import *
from sklearn.compose import *
one_hot=OneHotEncoder()

categorical_features=['Car_Name','Fuel_Type','Selling_type', 'Transmission']
label_enc=LabelEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,
                                categorical_features)],
                              remainder="passthrough")
y=label_enc.fit_transform(y)
x=transformer.fit_transform(x)

In [50]:
from sklearn.model_selection import *
x_train,x_test, y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=23223)

In [85]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(x_train,y_train)
predict=model.predict(x_test)
model.score(x_test,y_test)

0.823442014923761

In [103]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for tuning
param_grid = {
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Set up GridSearchCV with cross-validation
grid_search = GridSearchCV(DecisionTreeRegressor(), param_grid, cv=5, scoring='r2')
grid_search.fit(x_train, y_train)

# Get the best parameters and the highest score
best_model = grid_search.best_estimator_
best_score = grid_search.best_score_

print("Best Parameters:", grid_search.best_params_)
print("Best Cross-Validation R^2 Score:", best_score)

Best Parameters: {'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2}
Best Cross-Validation R^2 Score: 0.918187565543829